<% layout('layouts/boilerplate') -%>
<body class="bg-light">
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm p-4 border-0 rounded-4">
        <h2 class="text-center mb-4">Error</h2>
        <p class="text-center text-danger"><%= error %></p>
        <div class="text-center">
          <a href="/listings" class="btn btn-primary">Go Back Home</a>
        </div>
      </div>
    </div>
  </div>
</div>  
</body>